Repository Ttibsi/web-server-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, rustfmt

go-fmt:
  name: go-fmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

rustfmt:
  entry: rustfmt --edition 2021
  name: rustfmt
  language: rust

Started working on css
  Cargo.toml
  http_rust/style.css
  http_rust/users.html
  src/webserver.rs
Due: rustfmt

Css now calls
  Cargo.toml
  http_rust/users.html
  src/webserver.rs
Due: rustfmt

Listing from database in file
  Cargo.toml
  http_rust/users.stpl
  sailfish.toml
  src/database.rs
  src/main.rs
  src/webserver.rs
Due: rustfmt

remove curlylint
  http_rust/users.stpl
  src/main.rs
  src/webserver.rs
Due: rustfmt

POST requests passing
  Cargo.toml
  src/database.rs
  src/webserver.rs
Due: rustfmt

rust thoughts
  thoughts.md
Due: none

non-working attempt at POST
  src/database.rs
  src/webserver.rs
Due: rustfmt

readme update
  README.md
Due: none

go and rust isolated
  .gitignore
  Makefile
  golang/db.db
  golang/go.mod
  golang/go.sum
  golang/http/style.css
  golang/http/users.html
  golang/main.go
  golang/pkg/database.go
  golang/pkg/webserver.go
  rust/Cargo.toml
  rust/db.db
  rust/http/style.css
  rust/http/users.stpl
  rust/src/database.rs
  rust/src/main.rs
  rust/src/webserver.rs
  sailfish.toml
Due: go-fmt, rustfmt

all 3 languages working in their own envs with their own DBs
  .gitignore
  Makefile
  README.md
  golang/pkg/database.go
  python/db.db
  rust/sailfish.toml
Due: go-fmt

basic separation of concerns
  .gitignore
  py-go/README.md
  py-go/db.db
  py-go/go.mod
  py-go/go.sum
  py-go/main.go
  py-go/main.py
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  rustfmt: any of: \.rs$
